.container {
  ul {
    height: 100%;
    list-style: none;
    margin-top: 1rem;

    display: grid;
    grid-template-rows: 20rem;
    gap: 1rem;

    li {
      color: var(--gray-800);
      background-color: var(--gray-200);
      border-radius: 10px;
      padding: 2.5rem 2.5rem;
      max-width: 30rem;
      max-height: 20rem;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .buttons {
      button:first-child {
        margin-right: 0.5rem;
      }
      button:last-child {
        margin-left: 0.5rem;
      }
    }
  }

  h6 {
    text-align: center;
  }
}

.lib_nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--gray-transp-10);

  display: flex;
  justify-content: space-between;

  &_item {
    button:first-child {
      margin-right: 0.5rem;
    }
    button:last-child {
      margin-left: 0.5rem;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 30rem 30rem;
  grid-template-rows: auto;
  gap: 1rem;

  .text_area {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > *:not(:first-child) {
      margin-top: 0.3rem;
    }
  }
}
