.h1 {
  font-size: 6.8rem;
  color: var(--gray-800);
  font-weight: bold;
}
.h2 {
  font-size: 6.1rem;
  color: inherit;
  font-weight: inherit;
}
.h3 {
  font-size: 5.4rem;
  color: inherit;
  font-weight: inherit;
}
.h4 {
  font-size: 4.7rem;
  color: inherit;
  font-weight: inherit;
}
.h5 {
  font-size: 4rem;
  color: inherit;
  font-weight: inherit;
}
.h6 {
  font-size: 3.3rem;
  color: inherit;
  font-weight: inherit;
}

.body1 {
  font-size: 1.7rem;
  color: inherit;
  font-weight: inherit;
}

.body2 {
  font-size: 1.5rem;
  color: inherit;
  font-weight: inherit;
}

.subtitle1 {
  font-size: 3.3rem;
  color: var(--gray-500);
  font-weight: inherit;
}

.subtitle2 {
  font-size: 2rem;
  color: inherit;
  font-weight: inherit;
}

.error {
  font-size: 1.5rem;
  color: var(--error);
  font-weight: inherit;
}
