.history {
  &:nth-of-type(odd) {
    background-color: var(--gray-100);
  }
  .text_area {
    padding-bottom: 1rem;
  }
}

article {
  text-align: unset;

  .text_area {
    padding-left: 3rem;
    padding-top: 0.5rem;
  }
}
